.container {
    max-width: 1280px;
    padding: 15px;
    margin: 0 auto;
  }
  

.wrapper-calculator-block-text{
    width: 40%;
    }
    
    .wrapper-calculator-block {
    display: flex;
    margin: 40px 0px 40px 0px;
    }
    
    .wrapper-calc-timber-imitation {
    display: flex;
    justify-content: space-evenly;
    }
    
    .wrapper-aperture {
    display: flex;
    justify-content: space-around;
    width: 60%;
    }
    
    .aperture-value {
    border: 2px solid #4c514a;
    max-width: 135px;
    height: 25px;
    margin: 0 auto;
    }
    
    .wrapper-calculator-block-text-title {
    font-weight: bold;
    font-size: 1.1rem;
    }
    
    div.wrapper-calculator-block-text ol {
    list-style-type: auto;
    
    }
    
    .calculator-title {
    text-align: center;
    color: #4c514a;
    }
    
    h6.calculator-title {
    margin-bottom: 20px;
    }
    
    .calculator-block {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1.5rem !important;
    border: 5px solid #a4ba9b;
    text-align: center;
    margin: 0 auto;
    }
    
    .options {
    width: 65%;
    }
    
    .amount {
    width: 75%;
    }
    
    .user-value-prompt {
    margin: 55px 20px;
    width: 50%;
    }
    
    .wrapper-result {
    background-color:#a4ba9b;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    .calculator-block-result {
    padding: 10px;
    background-color:#a4ba9b;
    min-height: 150px;
    }
    
    .calculator-text-value {
    margin: 20px 0px 0px 0px;
    }
    
    .calculator-text-result {
    font-size: 25px;
    color: #ffffff;
    text-transform: uppercase;
    margin: 0px 0px 10px 0px;
    font-weight: bold;
    }
    
    .calc-form {
    width: 100%;
    padding: 20px 15px;
    }
    
    .calculator-block-btn {
    background-color: #a4ba9b;
    color: #ffffff !important;
    border: none;
    text-transform: uppercase;
    font-size: 120%;
    font-weight: bold;
    padding: 5px 50px;
    margin: 20px 0px 20px 0px;
    }
    
    .calculator-block-btn:hover {
    background-color: #599c28;
    }
    
    p.calculator-value-result {
    margin-bottom: 1rem;
    padding: 5px;
    margin: 0 auto;
    max-width: 220px;
    }
    
    .static-content .wrapper-calculator-block p {
    margin: 0px 0px 10px 0px;
    }
    
    .static-content .block-other {
    margin: 30px 0px 30px 0px;
    }
    
    .wrapper-meaning-calculation select {
    display: flex;
    justify-content: center;
    width: 70px;
    height: 30px;
    padding: 0px;
    text-align: center;
    }
    
    .wrapper-meaning-calculation{
    display: flex;
    justify-content: center;
    margin: 5px 0px;
    }
    
    .wrapper-calculator-block {
    display: flex;
    margin: 40px 0px 40px 0px;
    }
    
    .wrapper-calculator-block-text {
    width: 50%;
    padding: 15px;
    }
    
    .wrapper-calculator-block-text-amount{
    width: 50%; 
    padding: 15px;
    }
    
    .wrapper-calculator-block-text-title {
    margin-top: 140px;
    font-weight: bold;
    font-size: 1.1rem;
    }
    
    div.wrapper-calculator-block-text ol {
    list-style-type: auto;
    
    }
    
    .calculator-title {
    text-align: center;
    color: #4c514a
    }
    
    div.calculator-block {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    border: 5px solid #a4ba9b;
    text-align: center;
    margin: 0 auto;
    }
    
    .calc-form {
    width:120%;
    }
      
    .wrapper-result {
    background-color:#a4ba9b;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    .result-amount {
    width: 50%; 
    }
    
    .result-options {
    width: 50%;
    }
    
    .calculator-block-result {
    padding: 10px;
    background-color:#a4ba9b;
    min-height: 150px;
    }
    
    .calculator-text-value {
    margin: 20px 0px 5px 0px;
    }
    
    .calculator-text-result {
    font-size: 25px;
    color: #ffffff;
    text-transform: uppercase;
    margin: 0px 0px 10px 0px;
    font-weight: bold;
    }
    
    .calculator-value {
    margin: 0 auto;
    max-width: 220px;
    height: 25px;
    border: 2px solid #4c514a;
    }
    

    .empty {
        border-color: red;
    }
    
    .calc-form {
    width: 90%;
    padding: 20px 15px;
    }
    
    .calculator-block-btn {
    background-color: #a4ba9b;
    color: #ffffff;
    border: none;
    text-transform: uppercase;
    font-size: 120%;
    font-weight: bold;
    padding: 5px 50px;
    margin: 20px 0px 20px 0px;
    }
    
    .calculator-block-btn:hover {
    background-color: #599c28;
    }
    
    p.calculator-value-result {
    margin-bottom: 1rem;
    padding: 5px;
    margin: 0 auto;
    max-width: 220px;
    }
    
    .static-content .wrapper-calculator-block p {
    margin: 5px 0px 10px 0px;
    }
    
    .static-content .block-other {
    margin: 30px 0px 30px 0px;
    }
    
    .m-0a {
    margin: 0 auto;
    }
    
    .wrapper-meaning-calculation select {
    display: flex;
    justify-content: center;
    width: 50px;
    height: 25px;
    padding: 0px;
    text-align: center;
    }
    
    .wrapper-meaning-calculation{
    display: flex;
    justify-content: center;
    margin: 5px 0px;
    align-items: baseline;
    gap: 5px;
    }
    
    /*Media*/
    /* Large desktops and laptops */
    @media (min-width: 1080px) and (max-width: 1200px){
    
        .wrapper-calculator-block-text-amount {
        width: 30%;
        }
        
        .wrapper-calculator-block-text {
        width: 30%;
        }
        
        .options {
        width: 70%;
        }
        
        
        .wrapper-result {
        width: 30%;
        }
    
    }
    
    /* Portrait tablets and medium desktops */
    @media (min-width: 992px) and (max-width: 1080px) {
    
        .static-content table.responsive-table tr {
        border-bottom: 3px solid #f3f3f3;
        
        }
        
        .result-options {
        width: 35%;
        }
        
        .result-amount {
        width: 35%;
        }
        
        .calculator-block {
        max-width: 800px;
        }
        
        .btn-value-transfer {
        width: 45px;
        }
        
        div.static-content table.responsive-table td {
        text-align: end;
        }
        
        .wrapper-calculator-block-text {
        width: 40%;
        }
        
        .wrapper-calculator-block-text-amount {
        width: 40%;
        }
        
        .wrapper-calculator-block-text-title {
        margin-top: 60px;
        }
        
        .aperture-value {
        width: 120px;
        }
    
    }
    
    /* Portrait tablets and small desktops */
    @media (min-width: 768px) and (max-width: 991px) {
    
        .static-content table.responsive-table tr {
        border-bottom: 3px solid #f3f3f3;
        
        }
        
        .wrapper-result {
        width: 35%;
        }
        
        .wrapper-calculator-block {
        display: block;
        }
        
        .wrapper-calculator-block-text {
        width: 100%;
        }
        
        .wrapper-calculator-block-text-amount {
        width: 100%;
        }
        
        .wrapper-calculator-block-text-title {
        margin-top: 50px;
        text-align: center;
        }
        
        div.calculator-block {
        max-width: 90%;
        }
        
        .user-value-prompt {
        width: 60%;
        }
        
        .wrapper-calc-timber-imitation {
        display: block;
        
        }
        
        .wrapper-aperture {
        display: block;
        width: 100%;
        }
    
        .btn-value-transfer:not(:last-child) {
        margin-bottom: 2px;
        }
        
        div.static-content table.responsive-table td {
        text-align: end;
        }
        
        .aperture-value {
        max-width: 220px;
        height: 30px;
        }
        
        .calculator-value {
        max-width: 220px; 
        height: 30px;
        }
    
        h6.calculator-title {
        margin: 30px 0px 5px 0px;
        }
    
    }
    
    /* Landscape phones and portrait tablets */
    @media (min-width: 481px) and (max-width: 767px) {
    
        .wrapper-calculator-block-text {
        width: 100%;
        }
        
        .wrapper-calculator-block-text-amount {
        width: 100%;
        }
        
        .static-content table.responsive-table tr {
        border-bottom: 3px solid #f3f3f3;
        
        }
        
        .wrapper-calculator-block {
        display: block;
        }
        
        div.calculator-block {
        max-width: 100%;
        display: flex;
        overflow: hidden;
        }
        
        .wrapper-calculator-block-text {
        width: 100%;
        }
        
        .wrapper-calculator-block-text-title {
        margin-top: 50px;
        text-align: center;
        }
        
        .user-value-prompt {
        display: none;
        }
        
        
        div.static-content table.responsive-table td {
        text-align: end;
        }
        
        .calculator-value {
        max-width: 170px; 
        }
        
        .calc-form {
        width: 60%;
        }
        
        .wrapper-result {
        width: 40%;
        }
        
        .wrapper-aperture {
        width: auto;
        }
        
        .aperture-value {
        max-width: 100px;
        height: 25px;
        }
        
        
        .wrapper-calc-timber-imitation {
        display: block;
        
        }
        
        .wrapper-aperture {
        display: block;
        width: 100%;
        }
        
        
        .btn-value-transfer:not(:last-child) {
        margin-bottom: 2px;
        }
        
        div.static-content table.responsive-table td {
        text-align: end;
        }
        
        .aperture-value {
        max-width: 220px;
        height: 30px;
        }
        
        .calculator-value {
        max-width: 220px; 
        height: 30px;
        }
        
        
        h6.calculator-title {
        margin: 30px 0px 5px 0px;
        }
    
    }
    
    /* Landscape phones and smaller */
    @media (max-width: 480px) {
    
        .wrapper-calc-timber-imitation {
        display: block;
        
        }
        
        .wrapper-aperture {
        display: block;
        width: 100%;
        }
        
        
        .wrapper-aperture {
        display: block;
        width: 100%;
        }
        
        
        .static-content table.responsive-table tr {
        border-bottom: 3px solid #f3f3f3;
        
        }
        
        .wrapper-calculator-block-text {
        width: 100%;
        }
        
        
        h6.calculator-title {
        margin: 30px 0px 5px 0px;
        }
        
        .wrapper-calculator-block-text-amount {
        width: 100%;
        }
        
        .wrapper-calculator-block-text-title {
        margin-top: 50px;
        text-align: center;
        }
        
        .wrapper-calculator-block {
        display: block;
        }
        
        div.calculator-block {
        display: grid;
        max-width: 90%;
        overflow: hidden;
        }
        .user-value-prompt {
        display: none;
        }
        
        .calc-form {
        margin: 0 auto;
        }
        
        .calculator-value {
        max-width: 170px; 
        }
        
        .wrapper-result {
        min-width: 400px;
        }
        
        .calculator-block-btn {
        width: 70%;
        }
        
        div.static-content table.responsive-table td {
        text-align: end;
        }
        
        .calculator-title {
        font-size: 18px;
        } 
        
        .aperture-value {
        max-width: 170px;
        }
    
    }