.container {
  max-width: 1280px;
  padding: 15px;
  margin: 0 auto;
}


.wrapper-calculator-block {
  display: flex;
  margin: 40px 0px 40px 0px;
}

.wrapper-calculator-block-text {
  width: 50%;
  padding: 15px;
}

.wrapper-calculator-block-text-title {
 margin-top: 140px;
 font-weight: bold;
 font-size: 1.1rem;
}

div.wrapper-calculator-block-text ol {
  list-style-type: auto;

}

.calculator-title {
 text-align: center;
 color: #4c514a
}

.calculator-block {
 display: flex;
 justify-content: space-evenly;
 margin-top: 1.5rem !important;
 width: 100%;
 border: 5px solid #a4ba9b;
 text-align: center;
 margin: 0 auto;
}

.calc-form {
 width:120%;
}

.user-value-prompt {
 margin: 55px 20px;
 width: 50%;
}

.wrapper-result {
 width:80%;
 background-color:#a4ba9b;
 display: flex;
 justify-content: center;
 align-items: center;
}

.calculator-block-result {
 padding: 10px;
 background-color:#a4ba9b;
 min-height: 150px;
}

.calculator-text-value {
 margin: 20px 0px 5px 0px;
}

.calculator-text-result {
 font-size: 25px;
 color: #ffffff;
 text-transform: uppercase;
 margin: 0px 0px 10px 0px;
 font-weight: bold;
}

.calculator-value {
 margin: 0 auto;
 max-width: 220px;
 height: 25px;
 border: 2px solid #4c514a;
}

.btn-value-transfer {
  background-color: #a4ba9b;
  color: #ffffff !important;
  border: none;
  width: 50px;
  height: 25px;
}

.calc-form {
  width: 90%;
  padding: 0px 15px;
 }

.wrapper-result {
  max-width: 90%;
 }


.btn-value-transfer-active {
  background-color: #599c28;
}

.btn-value-transfer:hover {
  background-color: #599c28;
}

.calculator-block-btn {
  background-color: #a4ba9b;
  color: #ffffff !important;
  border: none;
  text-transform: uppercase;
  font-size: 120%;
  font-weight: bold;
  padding: 5px 50px;
  margin: 20px 0px 20px 0px;
}

.calculator-block-btn:hover {
   background-color: #599c28;
}

.calculator-value-result {
  margin-bottom: 1rem !important;
  padding: 5px;
  margin: 0 auto;
  max-width: 220px;
}

.static-content .wrapper-calculator-block p {
  margin: 5px 0px 10px 0px;
}

.static-content .block-other {
  margin: 30px 0px 30px 0px;
}

.empty {
 border-color: red;
}

.m-0a {
 margin: 0 auto;
}

/*Media*/
/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
 .calculator-block {
   max-width: 800px;
 }
 .btn-value-transfer {
   width: 45px;
  }

 div.static-content table.responsive-table td {
  text-align: end;
  }

  .wrapper-calculator-block-text {
    width: 30%;
  }

  .wrapper-calculator-block-text-title {
	margin-top: 60px;
  }

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
 .wrapper-calculator-block {
    display: block;
}

 .wrapper-calculator-block-text {
	width: 100%;
}

 .wrapper-calculator-block-text-title {
	margin-top: 50px;
  text-align: center;
}

 .calculator-block {
   max-width: 90%;
 }

 .user-value-prompt {
   width: 60%;
 }

  .btn-value-transfer:not(:last-child) {
    margin-bottom: 2px;
 }

  div.static-content table.responsive-table td {
  	text-align: end;
   }

}

/* Landscape phones and portrait tablets */
@media (min-width: 481px) and (max-width: 767px) {
 .wrapper-calculator-block {
    display: block;
}

 .calculator-block {
   max-width: 100%;
   display: flex;
   overflow: hidden;
 }

 .wrapper-calculator-block-text {
	width: 100%;
}

 .wrapper-calculator-block-text-title {
   margin-top: 50px;
   text-align: center;
}

 .user-value-prompt {
   display: none;
 }


   div.static-content table.responsive-table td {
 text-align: end;
 }

  .calculator-value {
	max-width: 170px;
 }

 .calc-form {
    width: 60%;
 }

 .wrapper-result {
    width: 40%;
 }

}

/* Landscape phones and smaller */
@media (max-width: 480px) {

 .wrapper-calculator-block-text {
	width: 100%;
}

 .wrapper-calculator-block-text-title {
   margin-top: 50px;
   text-align: center;
}

.wrapper-calculator-block {
    display: block;
}

 .calculator-block {
   display: grid;
   max-width: 90%;
   overflow: hidden;
 }
 .user-value-prompt {
   display: none;
 }

 .calc-form {
   margin: 0 auto;
 }

 .calculator-value {
	max-width: 170px;
 }

 .wrapper-result {
   min-width: 400px;
 }

 .calculator-block-btn {
	width: 70%;
 }

  div.static-content table.responsive-table td {
 text-align: end;
 }

}
